@font-face {
  font-family: 'Theseasons';
  src: url('/') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Theseasons';
  src: url('/') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Theseasons';
  src: url('/') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
